:root {
    --text-color: #424242;
    --bg-color: #ffffff;
    --nav-bg-color: #ffffff;
    --book-1: #fd2121;
    --book-2: #2d5eff;
}
  
html{
    background-color: var(--bg-color);
    color: var(--text-color);
}
html body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-brand {
  color: var(--text-color);
}
.navbar-dark {
  background-color: var(--nav-bg-color);
  color: var(--text-color);
}
.navbar-light {
  background-color: var(--nav-bg-color);
  color: var(--text-color);
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: var(--text-color);
}
.card-body{
  background-color: var(--bg-color);
  color: var(--text-color);
}
.card-title{
  color: var(--text-color);
}
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-color);
  }

#title{
    display: flex;
    justify-content: center;
    align-items: center;
}
#content{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large; 
    border: 1px solid black;
    padding: 20px;
    display: inline-block;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

#button_text:visited {
    text-decoration: none;
    color:white;
    
}